
Dataset_Generator/airports.xlsx
*.asv
*.png
*.pdf
*.mat
Dataset_Generator/DEMO_HETEROGENOUS_DATASET.m
Dataset_Generator/DEMO_HOMOGENOUS_MINI_PRE_DATASET.m
*.txt
*.jpeg
*.jpg

!demo_segmentation.png
!demo_localization.png
